body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #363a4d;
  height: 100vh;
  text-align: center;
  padding: 2rem;
}

h2 {
  color: #FFFFFF;
  font-weight: 600;
  padding-bottom: 2rem;
}